nav{
    color: white;
}

body {
    background-color: rgba(227, 24, 55);
}

main img {
    height: 300px;
    width: 300px;
}

.white-text {
    color: white;
    text-align: center;
}

article {
    position: relative;
}

main button {
    margin: 0;
    position: relative;
    left: 40%;
}
