h1{
    color: white;
}

body {
    background-color: rgba(227, 24, 55);
}

main img {
    height: 300px;
    width: 300px;
}

.white-text {
    color: white;
    text-align: center;
}

article {
    position: relative;
}

main button {
    margin: 0;
    position: relative;
    left: 40%;
}

div{
    color: white;
}

tr{
    color: white;
}

.spacer{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url("./images/horribleBackground.svg");
}
